* {
    cursor: url(../img/cur119.cur), auto !important;
}

body {
    background-image: url('../img/purplenoise.gif');
    color: white;
    font-family: monospace;
    text-align: center;
    text-shadow: 0 0 5px violet;
}

.box {
    width: 750px;
    background-color: black;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: black 0 0 15px;
    margin-top: 40px;
    text-align: center;
    overflow-wrap: break-word;
    padding: 20px;
}

.box p {
    margin: 20px;
    font-size: 13px;
}

#scanlines {
    background-image: url("../img/scanlines.png");
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    z-index: 9999999;
    animation: scan 0.7s infinite;
    animation-timing-function: linear;
    pointer-events: none;
    opacity: 0.4;
}

@keyframes scan {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 0px -5px;
    }
}

::selection {
    background-color: violet;
    color: purple;
}

a {
    color: violet;
}

pre {
    text-align: left;
    white-space: pre-wrap;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.2em;
}

@media only screen and (max-width: 800px) {
    .box {
        width: auto;
        background-color: black;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        box-shadow: black 0 0 15px;
        margin-top: 40px;
        text-align: center;
        padding: 20px;
    }
    .lain {
        height: auto;
    }
}
